body {
    /* background-color: #f5f5f5; */
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */

    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}


/* #editor-body [aria-hidden="true"] {
    border: none !important;
} */

/* #editor-body{
    background-color: #e0e0e0;
} */

#editor-body div div:nth-child(2) {
    border: 1px solid #e0e0e0;
    /*     border: none; */
}

#editor-body div div {
    padding: 0;
}

#editor-body [contenteditable] {
    padding: 10px;
}

.editor-field [contenteditable] {
    height: calc(100vh - 280px) !important;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 20px 10px 20px 20px; */
}

[contenteditable] p:not(.is-empty) {
    border: 1px solid #e0e0e0 !important;
    background-color: #eeeeee;
    padding: 4px;
    border-radius: 5px;
}

[contenteditable] p:not(.is-empty):hover {
    border: 1px solid #bdbdbd !important;
    background-color: #e0e0e0;
}

p[type]:not(.is-empty)::before {
    content: attr(type);
    display: block;
    font-size: 12px;
    background-color: #424242;
    font-weight: 600;
    color: #bdbdbd;
    width: fit-content;
    top: -10px;
    left: -10px;
    padding: 1px 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}