.editor-container [aria-hidden="true"]{
    border: none;
}

.editor-filed{
    padding: 10px 5px 10px 10px !important;
}

[data-placeholder="Add your own content here..."]{
    display: none;
}

r-container-r-title{
    background-color: aquamarine;
}

r-publisher{
    background-color: hotpink;
}

r-publisher-place{
    background-color: rgb(255, 245, 105);
}

r-page-first{
    background-color: rgb(210, 255, 105);
}

